body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}
/* Styles for desktop and tablet screens */
.table-responsive {
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .table-responsive {
        display: block;
    }
}
/* Styles for mobile screens */
@media (max-width: 576px) {
    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }

        table thead {
            display: none;
        }

        table tbody tr {
            display: inline-block;
            width: 100%;
            margin-bottom: .625rem;
            white-space: normal;
        }

        table tbody td {
            display: block;
            text-align: right;
            font-size: 13px;
            border-bottom: none;
        }

            table tbody td:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
                margin-right: .625rem;
            }
}