@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYGH Research</title>
    <style>
        /* General styles */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }


        /* Main content styles */
        main {
            margin: 20px;
        }

        /* Footer styles */
        .navbar, footer {
            background-color: #0072c6;
            color: white;
            padding: 20px;
            text-align: center;
        }

    </style>
</head>
<body>


    <main>
        <h2>Welcome to NYGH Research Page</h2>
        <p>Here at North York General Hospital, we are committed to advancing medical knowledge and improving patient outcomes through cutting-edge research.</p>
        <p>Our research areas include:</p>
        <ul>
            <li>Cancer</li>
            <li>Cardiology</li>
            <li>Neurology</li>
            <li>Pediatrics</li>
            <li>And many more!</li>
        </ul>
        <p>Take a look at our <a href="#">Researcher Directory</a> to learn more about our talented team of researchers, or check out our latest <a href="#">Publications</a> to see the impact of our work.</p>
    </main>

</body>